/* Overriding default sidebar spacing */

main {
    margin-left: 0px !important;
    background: rgb(53, 132, 163);
    color: white;;
}

header {
    margin-left: 0px !important;
    width: 100% !important;
}

.handle-card {
    padding: 20px 50px;
    margin: auto;
    max-height: 250px;
    clear: both;
    text-align: center;
}

.card {
    margin: 10px auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.card,
.handle-card {
    border-radius: 5px;
}

td {
    color: rgb(117, 117, 117);
    font-weight: 500;
}

table {
    width: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
}/* only for index */

#topicwiseOptions {
    padding: 30px 20px 50px 50px;
}

#unsolvedCon {
    padding: 30px 20px 50px 50px;
}

#unsolvedTitle, #commonContestTitle {
    font-weight: 500;
    font-size: 20px;
    margin: -20px;
}

.lnk {
    margin: 0px 5px;
    float: left;
}

.content {
    max-width: 1080px;
}

.dropdown {
  height: 10vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

